
 .icons a i.fa-laptop-code{
    color: #e17b77;
}

 .icons a i.fa-twitter{
    color:#53c5ff;
  }

 .icons a i.fa-linkedin{
    color:#007bb6;
  }
 .icons a i.fa-facebook{
    color: #2C80D3;
  }


  
  
 .laptop-code {
    background-color: #e17b77;
    color: white
}
  
  .twitter{
    background-color: #53c5ff;
    color: white;
  }
  
  .linkedin{
    background-color: #007bb6;
    color: white;
  }

  .facebook{
    background-color: #2C80D3;
    color: white;
  }
  
  
  .github{
    background-color: #000;
    color: white;
  }

